# Data Structure

## Tuple data structure

In [1]:
## created using paranthesis () and commas ,
## tuple is immutable means we cannot change the value inside the tuple 
## nor can we delete or add any value in a tuple

In [2]:
a = ('ashish', 28, 'riya', 26)

In [3]:
type(a)

tuple

In [4]:
print(a)

('ashish', 28, 'riya', 26)

In [5]:
a[1]

28

In [6]:
## indexing - used to access a particular value from the data structure
## from the left - indexing begins with 0
## From the right - indexing begins with -1
## Use [] brackets to access a particular value using indexing

## List Data Structure

In [7]:
## list - created using [] square brackets and commas ,
## lists are mutable
## values can be modified
## Add or Delete values

In [8]:
students_ba = ['Ashish','Anshul','Priya','Neha']

In [9]:
type(students_ba)

list

In [10]:
print(students_ba)

['Ashish', 'Anshul', 'Priya', 'Neha']

In [11]:
students_ba[0]

'Ashish'

In [12]:
students_ba[-2]

'Priya'

In [13]:
students_ba[0]='Riya'

In [14]:
print(students_ba)

['Riya', 'Anshul', 'Priya', 'Neha']

In [15]:
## Append function is used to add a value at the end
students_ba.append(90)

In [16]:
students_ba

['Riya', 'Anshul', 'Priya', 'Neha', 90]

In [17]:
students_ba[-1]= 'Hritik'

In [18]:
students_ba

['Riya', 'Anshul', 'Priya', 'Neha', 'Hritik']

In [19]:
## insert method is used to add a value at a particular index
students_ba.insert(1, 'manisha')

In [20]:
students_ba

['Riya', 'manisha', 'Anshul', 'Priya', 'Neha', 'Hritik']

In [21]:
## pop method is used to remove the last element
students_ba.pop()

'Hritik'

In [22]:
students_ba

['Riya', 'manisha', 'Anshul', 'Priya', 'Neha']

In [23]:
## remove function can be used to remove a particular value
students_ba.remove('Anshul')

In [24]:
students_ba

['Riya', 'manisha', 'Priya', 'Neha']

In [25]:
# reverse method is used to reverse the order of value
students_ba.reverse()

In [26]:
students_ba

['Neha', 'Priya', 'manisha', 'Riya']

In [27]:
data = [4,8,3,6,9,5]

In [28]:
## sort method is used to arrange 
data.sort()

In [29]:
data

[3, 4, 5, 6, 8, 9]

In [30]:
data.reverse()

In [31]:
data

[9, 8, 6, 5, 4, 3]

In [32]:
students_ba.sort()

In [33]:
students_ba

['Neha', 'Priya', 'Riya', 'manisha']

In [34]:
students_ba.sort(reverse = True)

In [35]:
students_ba

['manisha', 'Riya', 'Priya', 'Neha']

In [36]:
## index function
students_ba.index('Riya')

1

In [37]:
## Nested list - list inside a list
## contains list as its elements
nested_list = [[1,2,3],['a','b','c','d'],[4.5,8.9,6.3]]

In [38]:
nested_list

[[1, 2, 3], ['a', 'b', 'c', 'd'], [4.5, 8.9, 6.3]]

In [39]:
nested_list[2][0] ## 2 define index and 0 defind the value of index 2

4.5

In [40]:
nested_list[2].sort()

In [41]:
nested_list

[[1, 2, 3], ['a', 'b', 'c', 'd'], [4.5, 6.3, 8.9]]

In [42]:
nested_list[1].pop()

'd'

In [43]:
nested_list[1].insert(1,'s')

In [44]:
nested_list

[[1, 2, 3], ['a', 's', 'b', 'c'], [4.5, 6.3, 8.9]]

## slicing a list

In [45]:
## used to access a subset from the list
students_ba

['manisha', 'Riya', 'Priya', 'Neha']

In [46]:
students_ba.append('Ashish')
students_ba.append('Sachin')

In [47]:
students_ba

['manisha', 'Riya', 'Priya', 'Neha', 'Ashish', 'Sachin']

In [48]:
sliced_list = students_ba[1:3]

In [49]:
sliced_list

['Riya', 'Priya']

In [50]:
## slicing is done using : (colon) symbol
## start index:end index
## start index is included
## end index is excluded

In [51]:
students_ba[:]

['manisha', 'Riya', 'Priya', 'Neha', 'Ashish', 'Sachin']

In [52]:
students_ba[:3]

['manisha', 'Riya', 'Priya']

In [53]:
students_ba[2:]

['Priya', 'Neha', 'Ashish', 'Sachin']

In [55]:
students_ba[:2]

['manisha', 'Riya']

In [56]:
students_ba[4:]

['Ashish', 'Sachin']

In [58]:
students_ba[-2:]

['Ashish', 'Sachin']

In [60]:
students_ba[-3:-2]

['Neha']

## Dictionary data structure

In [61]:
## it has key-value pairs
## Created using {}:,

In [62]:
dict_1 = {'Name':'Ashish','Gender':'Male','Age':28}

In [63]:
dict_1

{'Name': 'Ashish', 'Gender': 'Male', 'Age': 28}

In [64]:
type(dict_1)

dict

In [65]:
## unlike tuple and list, it doesnot have predefined indexs
## In dictionary, the user himself defines the indexs (keys)

##keys - Name, Gender, Age
## Values - Ashish, Male , 28

## keys should be unique. we can't have two keys with the same name
## keys and values can be of any data types
## Best practise is to define keys as string

In [66]:
employee_info = {'Name':'Deepak','Age':25,'Place':'Delhi','Salary':28.5,'Id':1008}

In [68]:
employee_info['Id']

1008

In [69]:
## remove a key-value pair
## del method is used
del employee_info['Salary']

In [70]:
employee_info

{'Name': 'Deepak', 'Age': 25, 'Place': 'Delhi', 'Id': 1008}

In [71]:
## Clear() can be used to delete all items
employee_info.clear()

In [72]:
employee_info

{}

In [73]:
employee_info = {'Name':'Deepak','Age':25,'Place':'Delhi','Salary':28.5,'Id':1008}

In [74]:
employee_info

{'Name': 'Deepak', 'Age': 25, 'Place': 'Delhi', 'Salary': 28.5, 'Id': 1008}

In [75]:
## Add a new key value pair
employee_info['Dept']='Electrical'

In [76]:
employee_info

{'Name': 'Deepak',
 'Age': 25,
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 1008,
 'Dept': 'Electrical'}

In [77]:
employee_info['Age'] =29

In [78]:
employee_info

{'Name': 'Deepak',
 'Age': 29,
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 1008,
 'Dept': 'Electrical'}

In [79]:
employee_info['Age']=[28,29,30]

In [80]:
employee_info

{'Name': 'Deepak',
 'Age': [28, 29, 30],
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 1008,
 'Dept': 'Electrical'}

In [81]:
employee_info['Age'][0] = 25

In [82]:
employee_info

{'Name': 'Deepak',
 'Age': [25, 29, 30],
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 1008,
 'Dept': 'Electrical'}

In [84]:
## keys() is used to get the name of all the keys
employee_info.keys()

dict_keys(['Name', 'Age', 'Place', 'Salary', 'Id', 'Dept'])

In [88]:
## values() is used to get the name of all the values
employee_info.values()

dict_values(['Deepak', [25, 29, 30], 'Delhi', 28.5, 1008, 'Electrical'])

In [95]:
a = list(employee_info.keys())

In [92]:
type(a)

list

In [93]:
a

['Name', 'Age', 'Place', 'Salary', 'Id', 'Dept']

In [96]:
b = list(employee_info.values())

In [97]:
b

['Deepak', [25, 29, 30], 'Delhi', 28.5, 1008, 'Electrical']

In [99]:
## items function
employee_info.items()

dict_items([('Name', 'Deepak'), ('Age', [25, 29, 30]), ('Place', 'Delhi'), ('Salary', 28.5), ('Id', 1008), ('Dept', 'Electrical')])

In [100]:
len(employee_info)

6

In [1]:
employee_dict = {'Name':['Ashish','Sachin','Kapil','Sumit'],
                 'Education':{'Ashish':'Graduate','Sumit':'Dr.'},
                 'Location':('Rohini','Bhajanpura')}

In [2]:
employee_dict

{'Name': ['Ashish', 'Sachin', 'Kapil', 'Sumit'],
 'Education': {'Ashish': 'Graduate', 'Sumit': 'Dr.'},
 'Location': ('Rohini', 'Bhajanpura')}

In [3]:
## 3 key value pairs
## Name key - it holds a list inside it
## Education key - it hold a dictionary inside it
## Location key - it hold a tuple inside it

In [4]:
employee_dict['Name'][1]

'Sachin'

In [5]:
employee_dict['Education']['Sumit']

'Dr.'

## Sets Data Structure

In [6]:
set_1 = {'Raj',100,5.6}

In [7]:
set_1

{100, 5.6, 'Raj'}

In [8]:
type(set_1)

set

In [9]:
set_1.add(80)

In [10]:
set_1

{100, 5.6, 80, 'Raj'}

In [11]:
set_1.pop()

100

In [13]:
set_1.remove('Raj')

In [14]:
set_1

{5.6, 80}