# Flow Control Statements

## If Satement

In [1]:
a = 30
b = 25

## Q- print the larger value

In [2]:
if a>b:
    print(a)
else:
    print(b)

30

In [3]:
a =70
b =62
c =88
## Q- which is max value

In [4]:
if (a>b) and (a>c):
    print('a is largest')
elif (b>a) and (b>c):
    print('b is largest')
else:
    print('c is largest')

c is largest

In [5]:
##Q) Give grades to the students based on their marks
##>60 -- "A"
##>50 -- "B"
##>40 -- "c"
##<50 -- "F"

## marks =22

In [6]:
m = 22

if (m>60):
    print('A')
elif (m>50):
    print('B')
elif (m>40):
    print('C')
else:
    print('F')

F

In [7]:
maths = 75
science = 52
## maths   science     grade
## >70      >70        "A"
## 50-70    70-100     "B"
## 70-100   50-70      "C"
## 50-70    50-70      "D"
## <50       <50       "F"

In [8]:
m = 75
s = 52
if (m>70) and (s>70):
    print("A")
elif (m>50-70) and (s<70-100):
    print("B")
elif (m<70-100) and (s>50-70):
    print("C")
else:
    print("F")

F

In [9]:
## maths   science     grade
## >70      >70        "A"
## >70    <70     "B"
## <70   >70      "C"
## <70       <70       "F"
m = 75
s = 52
if (m>70) and (s>70):
    print("A")
elif (m>70) and (s<70):
    print("B")
elif (m<70) and (s>70):
    print("C")
else:
    print("F")

B

In [10]:
m = 75
s = 52
if (m>70): 
    if (s>70):
        print("A")
    else:
        print("B")
else: 
    if (s>70):
        print("C")
    else:
        print("F")

B

In [11]:
a =[10,35,22,17,41]
print('Original list:',a)
if a[0]==10:
    print('First element is 10,so change it 100')
    a[0]=100
else:
    print('first element is not 10, so change it 100')
    a[0]=50
    
print('updates list:',a)

Original list: [10, 35, 22, 17, 41]
First element is 10,so change it 100
updates list: [100, 35, 22, 17, 41]

In [12]:
a

[100, 35, 22, 17, 41]

## While loop

In [13]:
## it is used tp perform set of tasks, until some condition is true

In [14]:
counter = 1
while(counter<=5):
    print('Ashish')
    counter+=1

Ashish
Ashish
Ashish
Ashish
Ashish

In [15]:
a = 5 
b = 12
## print the value of a until it is less than b
## Also keep on incrementing the value of a by 2

In [16]:
a=5
b = 12
while(a<b):
    print(a)
    a+=2

5
7
9
11

In [17]:
## Q) print the square of number from 1 to 10
a=1
while(a<=10):
    print(a**2)
    a+=1

1
4
9
16
25
36
49
64
81
100

In [18]:
## keep on printing values till the square of values is <500
a =1
while(a**2<=500):
    print(a**2)
    a=a+1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484

In [19]:
a =1
import time
start_time = time.time()
while(a**2<=500):
    print(a**2)
    a=a+1
end_time = time.time()
print('Time taken:',end_time-start_time)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
Time taken: 0.014989376068115234

In [20]:
## print the table of 7 using while loop
a = 1
while(a*7<=70):
    print(a*7)
    a+=1

7
14
21
28
35
42
49
56
63
70

In [21]:
i = 1
n = 7
while(i<=10):
    print(n,"*",i,"=",n*i)
    i=i+1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [22]:
## print the alphabets of our name

a = 'Ashish'
b= len(a)

i = 0
while(i<len(a)):
    print(a[i])
    i+=1

A
s
h
i
s
h

## For Loop

In [23]:
## print the alphabets of our name
a = 'Ashish'
for i in a:
    print(i)

A
s
h
i
s
h

In [24]:
## list
sample_list = [10,20,30,40,50]
## using the for loop, print first 3 element of list
for i in sample_list[0:3]:
        print(i)

10
20
30

In [25]:
a = 'Ashish'
for i in a:
    if i == 'i':
        break
    print(i)

A
s
h

In [26]:
for i in a[0:3]:
    print(i)

A
s
h

In [27]:
sample_list = [10,20,30,40,50,70,80,90]
for i in sample_list[3:]:
    print(i)

40
50
70
80
90

In [28]:
sample_list = [10,20,30,40,50,70,80,90]
for i in sample_list[-5:]:
    print(i)

40
50
70
80
90

In [29]:
## print only those values which are geater than 30
sample_list = [10,20,30,40,50,25,35,90]
for i in sample_list:
    if i>30:
        print(i)

40
50
35
90

In [30]:
a = [10,20,30,40,50,' ',60,70]
##update the list
##Replace 20 by 200
## and '' by 'ABC'
index_num = 0
for i in a:
    if (i==20):
        a[index_num]=200
    elif(i==' '):
        a[index_num]='ABC'
    index_num+= 1
print(a)

[10, 200, 30, 40, 50, 'ABC', 60, 70]

## Range Function

In [31]:
## only takes integer as an input
## Return a list of valuing from 0 to n-1

In [32]:
range(5)

range(0, 5)

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
## range(a,b)
## a to b-1
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [35]:
## range(a,b,c)
## jumb of size c

for i in range(1,9,2):
    print(i)

1
3
5
7

In [36]:
## print all the odd nimber between 7 to 24
for i in range(7,24,2):
    print(i)

7
9
11
13
15
17
19
21
23

In [37]:
## find the sum of all the numbers divisible by 3 or 5
## lying between 0 to 20
result = 0
for i in range(0,21):
    if i%3==0 or i%5==0:
        print(i)
        result = result+i

0
3
5
6
9
10
12
15
18
20

In [38]:
print(result)

98

In [39]:
##Question
## 1
## 1 2
## 1 2 3
## 1 2 3 4

In [40]:
print(6)
print(7)

6
7

In [41]:
print(6, end='  ')
print(7)

6  7

In [42]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end=' ')

1 1 2 1 2 3 1 2 3 4

In [43]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [44]:
for i in range(1,5):
    for j in range(i+1):
        print(j)
    print()

0
1

0
1
2

0
1
2
3

0
1
2
3
4

In [45]:
for i in range(1,5):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1

## Break statement

In [46]:
list_1 = [10,20,30,40,50,60]
for i in list_1:
    if i>30:
        print(i)
        break

40

In [47]:
list_2 = [10,20,30,80,40,50,60,70]
## position and value of first element which is divisible by 40
position = 0
for i in list_2:
    if i%40==0:
        print('position',position)
        print('value',i)
        break
    position = position+1

position 3
value 80

In [48]:
list_2 = [10,20,30,80,40,50,60,70]
## position and value of all element which is divisible by 40
position = 0
for i in list_2:
    if i%40==0:
        print('position',position)
        print('value',i)
    position = position+1

position 3
value 80
position 4
value 40

In [49]:
list_3 = [10,20,35,40,55,87,60,80,89]
## print the first 2 element divisible by 20
count =0
for i in list_3:
    if i%20==0:
        print('value',i)
        count = count +1
        if count ==2:
            break

value 20
value 40

## Continue Statement

In [50]:
### we want print all number from 1 to 10
## except those numbers which are divisible by 4
for i in range(1,11):
    if i%4==0:
        continue
    else:
        print(i)

1
2
3
5
6
7
9
10

In [51]:
## print alphabets of your full name
## stop printing if alphabet 'e','i'or'u'comes
##donot print alphabet 'a' or 'o', if they come
name = 'ashish kapasiya'
for i in name:
    if (i=="a" or i=="o"):
        continue
    elif (i=="i" or i=="e" or i=="u"):
        break
    else:
        print(i)

s
h

In [52]:
for i in name:
    if (i=='a' or i=='o'):
            continue
    if(i=='e' or i=='i' or i=='u'):
        break
        
    print(i)

s
h

In [53]:
lis1=['a','o']
lis2=['e','i','u']
for i in name:
    if i in lis1:
        continue
    if i in lis2:
        break
    print(i)

s
h

In [54]:
num = 80
count =0
i =0
## print the first 3 numbers which are divisible by num  
while True:
    i = i+1
    if (i%num==0):
        print(i)
        count = count+1
        if count ==3:
            break

80
160
240

In [58]:
num = 80
end_loop = num*3
for i in range(1,end_loop+1):
    if i%num==0:
        print(i)

80
160
240