In [1]:
%pwd ## they defined the path of present working directory

'C:\\Users\\Ashish\\Desktop\\business analyst\\python\\python files'

In [2]:
print("welocme to python")

welocme to python

## Variables in python

In [3]:
a = "I love India"

In [4]:
print(a)

I love India

In [5]:
a = 25
print(a)

25

# Data Type

## Integer data type

In [6]:
a = 50

In [7]:
print(a)

50

In [8]:
type(a)

int

## Float data type

In [9]:
a = 4.87

In [10]:
print(a)

4.87

In [11]:
type(a)

float

## boolean data type

In [12]:
a = True

In [13]:
print(a)

True

In [14]:
type(a)

bool

In [15]:
b = False

In [16]:
print(b)

False

In [17]:
type(b)

bool

## string data type

In [18]:
a = "Delhi" ## can be defined using single, double or triple quotes
print(a)

Delhi

In [19]:
type(a)

str

In [20]:
a = 'this is a data analyst'

In [21]:
b = 'i am using jupyter notebook'

In [22]:
print(a,b)

this is a data analyst i am using jupyter notebook

In [23]:
c = 'and'

In [24]:
print(a,c,b)

this is a data analyst and i am using jupyter notebook

In [25]:
print(a,'and',b)

this is a data analyst and i am using jupyter notebook

In [26]:
print(a+" "+b)

this is a data analyst i am using jupyter notebook

In [27]:
# triple quotes are used to define strings of mutliple lines

In [28]:
a = '''I am going to 
france tomorrow'''

In [29]:
print(a)

I am going to
france tomorrow

In [30]:
a = 'Ashish'

In [31]:
len(a)

6

In [32]:
a.upper()

'ASHISH'

In [33]:
a.lower()

'ashish'

In [34]:
a.title()

'Ashish'

In [35]:
## My Name Is Ashish
## I LIVE IN INDIA
## i like pizza

In [36]:
a ='my name is ashish'

In [37]:
b ='i live in india'

In [38]:
c ='i like pizza'

In [39]:
a.title()

'My Name Is Ashish'

In [40]:
b.upper()

'I LIVE IN INDIA'

In [41]:
c.lower()

'i like pizza'

## complex data type

In [42]:
a = 3+4j

In [43]:
type(a)

complex