# operators in python

## 6 types of operators

## 1. Arithmetic operators

In [1]:
## used to perform mathematical operation on the data 
## +,-,*,/,%

In [2]:
## Define two integer variables
x = 25
y = 10
z = x+y

In [3]:
print(z)

35

In [4]:
z1 =x-y
print(z1)

15

In [5]:
z2 = x/y
print(z2)

2.5

In [6]:
# modulus - Returns the remainder after the division
z3 = x%y
print(z3)

5

In [7]:
z4 = x*y
print(z4)

250

In [8]:
# floor division
z5 = x//y
print(z5)

2

In [9]:
c = 2+4*3/6+5
print(c)

9.0

In [10]:
2**3 # ** power

8

In [11]:
2+4*3/6**2+5 # 1 power than multiplication or division

7.333333333333334

In [12]:
4/2*5

10.0

In [13]:
4*2/5

1.6

In [14]:
2+4*3/6**2+5%4/2

2.8333333333333335

In [15]:
## Operator precedence

## paranthesis ()
## power **
## multiplication, division, modulus
## addition, subtraction

In [16]:
5%4/2

0.5

In [17]:
5/4%2

1.25

In [18]:
2+4*3/6**2+5%4/2

2.8333333333333335

# 2. Comparison operator

In [19]:
## used for conditional purpose
## also known as relational operators
## >,<,==,!=,>=,<=
## Always return a boolean value

In [20]:
a = 25
b = 10

In [21]:
c = a>b
print(c)

True

In [22]:
c = a==b
print(c)

False

In [23]:
c = a!=b
print(c)

True

In [24]:
type(c)

bool

In [25]:
c = a<b
print(c)

False

In [26]:
a = 'Delhi'
b = 'Delhi'

In [27]:
a==b

True

In [28]:
a!=b

False

# 3. Assignment operators

In [29]:
## used to assign values to variable
## =, +=, -=, *=, **=

In [30]:
a = 15

In [31]:
print(a)

15

In [32]:
a+=10

In [33]:
print(a)

25

In [34]:
a-=10

In [35]:
print(a)

15

In [36]:
a*=10

In [37]:
print(a)

150

# 4.Logical operators

In [38]:
## used to perform some operation, based on two operand
## AND(&), OR(|) (two operand) [& , | NOT USED USED ONLY AND , OR]
## NOT (single operand)

In [39]:
a = 5
b = 6

In [40]:
a==5 and b>3

True

In [41]:
a==5 and b<3

False

In [42]:
a>5 or b>4

True

In [43]:
## AND
## T T - T
## T F - F
## F F - F

## OR
## T T - T
## T F - T
## F F - F

In [44]:
## operand 1  operand 2
## True       True
## False      False
## True       False
## False      True

## True       Expression
## Expression True
## Expression False
## False      Expression
## Expression Expression

In [45]:
a =5
b =6

In [46]:
## operand 1  operand 2
## True       Expression
## Expression True

## 'And' operator will always return second operand 
## 'Or' operator will always return first operand

In [47]:
a>2 and b

6

In [48]:
a and b>2

True

In [49]:
a>2 or b

True

In [50]:
a or b>2

5

In [51]:
## operand 1  operand 2
## False       Expression
## Expression  False

## 'And' operator will always return "False"
## 'Or' operator will always return "Expression"

In [52]:
a==3 and b

False

In [53]:
a and b==3

False

In [54]:
a==3 or b

6

In [55]:
a or b==3

5

In [56]:
a==3 and x

False

In [57]:
## operand 1  operand 2
## Expression Expression

## 'And' operator will always return second operand
## 'Or' operator will always return first operand

In [58]:
a and b

6

In [59]:
a or b

5

In [60]:
## 'not' operators returns the opposite of True/False
## 'not' operators in expression is always 'false'

In [61]:
not a<4

True

In [62]:
not b>4

False

In [63]:
not a

False

In [64]:
not b

False

## 5. Membership operators

In [65]:
## used to check wheather a particular value is included in a variable/ data structure or not
## in, not in

In [66]:
a =(2,4,6,9)

In [67]:
4 in a

True

In [68]:
8 in a

False

In [69]:
5 not in a

True

In [70]:
6 not in a

False

In [71]:
a ='delhi'

In [72]:
'e' in a

True

In [73]:
's' in a

False

## 6. Identity operators

In [74]:
## used to compare two objects (variables, values, type etc..)
## Return a boolean value - True/False
## is, is not

In [75]:
4 is 5

False

In [76]:
4 is 4

True

In [77]:
a =5
b =6

In [78]:
a is not b

True

In [79]:
a is b

False

In [80]:
type(a) is type(b)

True